.scrollTop {
    background: #CBCBCB;
    border-radius: 50%;
    position: fixed;
    right: 15px;
    bottom: 15px;
    padding: 15px;
    z-index: 11;
    transition: all 0.3s ease;

}
.scrollTop img{
    width: 20px;
    animation: vertical-shaking 0.65s infinite;
}

@keyframes vertical-shaking {
    0% { transform: translateY(0) }
    25% { transform: translateY(0) }
    50% { transform: translateY(-5px) }
    75% { transform: translateY(0) }
    100% { transform: translateY(0) }
  }
