.swiper-button-next, .swiper-button-prev{
    color: #1C1B1F;
}
.swiper-pagination{
    margin-top: 28px;
    position:relative;
}
.swiper-slide{
    text-align: center;
}
.swiper-slide h4{
    font-size: 16px;
    margin-top: 15px;
    font-weight: 500;
}
.swiper-pagination-bullet{
    width: 16px;
    height: 16px;
}
.swiper-pagination-bullet-active {
    background-color: #797979;
}